fastapi
uvicorn
beautifulsoup4
requests
selenium
google-genai
python-dotenv
grpcio 
grpc-stubs
grpcio-tools
psycopg2
grpcio-reflection 
grpcio-health-checking 
protobuf 
mypy-protobuf 
types-protobuf 